## Notebook for writing the first test

In [1]:
import pandas as pd

Dataset is from Kaggle's Titanic dataset: https://www.kaggle.com/c/titanic

In [2]:
df = pd.read_csv('titanic.csv')

In [3]:
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

Make a function to calculate average `Age` of passengers by `Sex` and `Survived`

In [4]:
output = (
    df
    .groupby(['Sex', 'Survived'], as_index=False)
    .agg({
        'Age': 'mean'
    })
)

In [5]:
output

      Sex  Survived        Age
0  female         0  24.419753
1  female         1  28.866953
2    male         0  31.136853
3    male         1  27.428165

In [6]:
output.to_dict()

{'Sex': {0: 'female', 1: 'female', 2: 'male', 3: 'male'},
 'Survived': {0: 0, 1: 1, 2: 0, 3: 1},
 'Age': {0: 24.419753086419753,
  1: 28.86695278969957,
  2: 31.13685344827586,
  3: 27.42816513761468}}

Now I go to PyCharm (or any IDE of your choice) and turn it into a function

Meanwhile, I will sort the output and lock down its behavior (pandas index tend to be a pain when testing)